body {
    background-image: url(https://scx2.b-cdn.net/gfx/news/hires/2018/6-armyresearch.jpg);
    font-family: Arial;
}
.alk-metal {
    background-color: #ee341d;
}
.noble {
    background-color: #00c3e2;
}
.halogen {
    background-color: #f0e22d;
}
.tr-metal {
    background-color: #1b74c6;
}
.actinide {
    background-color: #cc47a2;
}
.lanthanide {
    background-color: #7247cc;
}
.earth-metal {
    background-color: #fe7600;
}
.non-metal {
    background-color: #5ead1c;
}
.post-metal {
    background-color: #41607f;
}
.metalloid {
    background-color: #b07826;
}
.unknown {
    background-color: #9b9b9b;
}
td {
    border: 0.1vw solid white;
    position: relative;
    border-radius: 0.4vw;
}
h1, p {
    text-align: center;
    margin: 0;
    padding: 0;
    
}
h1 {
    padding-left:1.2vw;
    padding-right:1.2vw;
    padding-bottom: 1vw;
    padding-top: 1vh;
}
table {
    text-align: center;
    vertical-align: middle;
    font-family: Arial;
    font-size: 0.9vw;
}
td p:first-child {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    font-size: 0.9vw;
    padding-left: 0.4vw;
    padding-bottom: 0.3vh;
}
td p:last-child {
    position: absolute;
    bottom:0;
    right: 0;
    font-style:italic;
    font-size: 0.8vw;
    padding-right: 0.4vw;
    padding-bottom: 0.3vh;
}
td:empty {
    border: none;
}
.at-num {
    text-align: left;
    border:0;
}
.at-mass{
    text-align: right;
    border:0;
}
.content{
    width: 100%;
    height: 100%;
}